.btn-home1{
  border-radius: 5vh;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 10vh; height: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  background: #a90329;
  background: -moz-linear-gradient(left, #a90329 0%, #8f0222 92%, #6d0019 100%);
  background: -webkit-linear-gradient(left, #a90329 0%,#8f0222 92%,#6d0019 100%);
  background: linear-gradient(to right, #a90329 0%,#8f0222 92%,#6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
}

.btn-home2{
  border-radius: 10vh;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 10vh; height: 10vh;
  vertical-align: middle;
  padding-top: 2vh;
  background: #03a982;
  background: -moz-linear-gradient(left, #03a982 0%, #02906f 92%, #006e54 100%);
  background: -webkit-linear-gradient(left, #03a982 0%,#02906f 92%,#006e54 100%);
  background: linear-gradient(to right, #03a982 0%,#02906f 92%,#006e54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a982', endColorstr='#006e54',GradientType=1 );
}
.btn-home3{
  border-radius: 10vh;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 10vh; height: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  background: #0319a9;
  background: -moz-linear-gradient(left, #0319a9 0%, #021590 44%, #000f6e 100%);
  background: -webkit-linear-gradient(left, #0319a9 0%,#021590 44%,#000f6e 100%);
  background: linear-gradient(to right, #0319a9 0%,#021590 44%,#000f6e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0319a9', endColorstr='#000f6e',GradientType=1 );
}

.btn-home5{
  border-radius: 10vh;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 10vh; height: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  background: #2aa903;
background: -moz-linear-gradient(left, #2aa903 0%, #239002 99%, #239002 99%, #1a6e00 100%);
background: -webkit-linear-gradient(left, #2aa903 0%,#239002 99%,#239002 99%,#1a6e00 100%);
background: linear-gradient(to right, #2aa903 0%,#239002 99%,#239002 99%,#1a6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa903', endColorstr='#1a6e00',GradientType=1 );
}

.Description{
  text-align:left;
  padding: 10px;
  vertical-align: middle;


}
.btn-add1{
  border-radius: 5vh;
  border-width: thick;
  border-color: black;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 10vh; height: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  background: #FFFFFF

}
.btn-add2{
  border-radius: 5vh;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 10vh; height: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  background: #299a0b;
  background: -moz-linear-gradient(left, #299a0b 0%, #299a0b 100%);
  background: -webkit-linear-gradient(left, #299a0b 0%,#299a0b 100%);
  background: linear-gradient(to right, #299a0b 0%,#299a0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=1 );

}
.cat{
  padding: 10px;
  text-align: center;
  padding-top: 7vh;
}
.x{

  padding: 10px;
  text-align: center;
  padding-top: 3vh;
  font-family: 'Scada', sans-serif;
}
}
